<!DOCTYPE html>
<!--
  {{site.description}}
  @author {{site.author.name}} <{{site.author.email}}>
-->
<html lang="{{site.lang}}">
<head>
  <title> {{site.title}} </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-title" content="{{site.title}}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="white-translucent" />
  <meta name="theme-color" content="{{site.color}}">
  {% if site.css %}<link rel="stylesheet" href="{{site.css}}" />{% endif %}
  <meta property="og:url" content="{{site.url}}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{site.title}}" />
  <meta property="og:description" content="{{site.description}}" />
  <meta property="og:image" content="{{site.url}}{{site.favicon}}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{site.author.twitter}}" />
  <meta name="twitter:title" content="{{site.title}}" />
  <meta name="twitter:description" content="{{site.description}}" />
  <meta name="twitter:image" content="{{site.url}}{{site.favicon}}" />
  <link rel="apple-touch-icon" href="{{site.favicon}}" />
  <link rel="icon" type="image/png" href="{{site.favicon}}" />

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-5407647-66', 'auto');
    ga('send', 'pageview');

  </script>
  
</head>
