---
# comment for jekyll
---

* {
    user-select: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: transparent;
    box-sizing: inherit;
}

.cf:after {
    content:"";
    display:table;
    clear:both;
}

*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background: -webkit-linear-gradient(left, #FF1A00 0%, #B900C5 100%);
}

body {
    background-color: white;
    margin: 1rem;
    line-height: 1.5;
    font-family: -apple-system,".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",sans-serif;
    -webkit-font-feature-settings: "dlig","kern","liga";
    font-feature-settings: "dlig","kern","liga";
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: 150%;
    padding: 2rem;
}

pre {
    font-family: 'Menlo', monospace;
    background-color: #f6f6f6;
    padding: 1rem 1.75rem;
    overflow: auto;
    background-color: #333;
    color: #f2f2f2;
}

a {
  color: #D40083;
  text-decoration: none;
  background-image: linear-gradient(transparent 50%, currentColor 50%);
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 90%;
  -webkit-transition: all .2s;
  -webkit-transition-timing-function: ease;
  text-shadow: -.03em 0 0 white, .03em 0 0 white, -.06em 0 0 white, .06em 0 0 white,-.09em 0 0 white,.09em 0 0 white, 0 -.03em 0 white, 0 -.06em 0 white, 0 -.09em 0 white;
}

a:hover {
  color: #BD00C6;
  -webkit-background-image: linear-gradient(transparent 50%, #BD00C6 50%);
}

h1,
h2,
h3 {
  font-weight: normal;
}

ul,
ol {
    margin: 0;
}

.container {
    max-width: 45rem;
    margin: 0 auto;
    padding: 1rem;
}

img {
  height: 40px;
  max-width: 40px;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 50em) {

  img {
    height: 100px;
    max-width: 100px;
  }
}